.header-box {
    height: 66px;
    line-height: 63px;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #F5F5F5;
}

.header-box .header-title {
    float: left;
    margin-left: 28px;
    font-size: 26px;
    color: white;
    width: 270px;
    height: 46px;
    margin-top: 7px;
    background: url("../images/img.png") no-repeat;
    background-size: 100% 100%;
}

.header-box .header-name {
    float: right;
    margin-right: 31px;
    position: relative;
}

.header-box .header-name a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.header-box .header-name span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/1.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: 3px;
    right: 3px;
}

.main {
    padding: 19px 30px 0 30px;
    background: #F5F5F5;
    height: 700px;
}

.main .main-left {
    padding-right: 19px;
    overflow: hidden;
}

.main .main-left .search-top select {
    width: 206px;
    height: 42px;
    color: #555555;
    text-indent: 24px;
    border-radius: 4px;
    border: 1px solid #D8D8D8;
}

.main .main-left .search-top div {
    float: right;
}

.main .main-left .search-top div button {
    height: 40px;
    border: 1px solid #398BFB;
    font-size: 14px;
    border-radius: 6px;
}

.main .main-left .search-top div .btn1 {
    background: #398BFB;
    color: white;
    padding: 0 20px 0 20px;
    margin-right: 12px;
}

.main .main-left .search-top div .btn1:hover {
    background: white;
    color: #398BFB;
}

.main .main-left .search-top div .btn2 {
    background: white;
    color: #398BFB;
    padding: 0 27px 0 27px;
}

.main .main-left .search-top div .btn2:hover {
    background: #398BFB;
    color: white;
}

.main .main-left .search-bottom {
    height: 564px;
    margin-top: 22px;
    border: 1px solid #D8D8D8;
    border-radius: 8px;
    background: white;
}

.main .main-left .search-bottom .search-condition {
    margin-top: 42px;
    float: left;
    width: 20%;
    border-right: 1px solid #D8D8D8;
}

.main .main-left .search-bottom .search-condition ul {
    padding: 0 25px 35px 32px;
}

.main .main-left .search-bottom .search-condition ul li {
    margin-top: 20px;
}

.main .main-left .search-bottom .search-condition ul li input {
    width: 13px;
    height: 13px;
    border: 1px solid #888888;
    margin-top: 2px;
}

.main .main-left .search-bottom .search-condition ul li span {
    color: #666666;
    margin-left: 3px;
}

.main .main-left .search-bottom .search-condition ul .li-1 {
    margin-top: 0;
}

.main .main-left .search-bottom .search-condition ul .li-1 span {
    color: #398BFB;
    cursor: pointer;
}

.main .main-left .search-bottom .condition-write {
    margin-top: 37px;
    width: 74.5%;
    float: right;
    padding-right: 30px;
}

.main .main-left .search-bottom .condition-write select {
    background: white;
}

.main .main-left .search-bottom .condition-write .write-top .div1 {
    height: 25px;
    width: 80%;
    margin-left: 20%;
}

.main .main-left .search-bottom .condition-write .write-top .div1 p {
    float: left;
    width: 24%;
    font-size: 16px;
    height: 25px;
    position: relative;
}

.main .main-left .search-bottom .condition-write .write-top .div1 p span {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.main .main-left .search-bottom .condition-write .write-top .div1 p .sp1 {
    background: url("../images/2.png") no-repeat;
    background-size: 100% 100%;
}

.main .main-left .search-bottom .condition-write .write-top .div1 p .sp2 {
    background: url("../images/3.png") no-repeat;
    background-size: 100% 100%;
}

.main .main-left .search-bottom .condition-write .write-top .div1 p .sp3 {
    background: url("../images/4.png") no-repeat;
    background-size: 100% 100%;
}

.main .main-left .search-bottom .condition-write .write-top .div1 p .sp4 {
    background: url("../images/5.png") no-repeat;
    background-size: 100% 100%;
}

.main .main-left .search-bottom .condition-write .write-top .div1 p label {
    position: relative;
    bottom: 6px;
}

.main .main-left .search-bottom .condition-write .write-top .div {
    margin-top: 24px;
    height: 42px;
    line-height: 42px;
    width: 80%;
    margin-left: 20%;
    position: relative;
}

.main .main-left .search-bottom .condition-write .write-top .div input {
    width: 100px;
    height: 40px;
    border-radius: 2px;
    outline: none;
    border: 1px solid #D8D8D8;
    text-indent: 13px;
}

.main .main-left .search-bottom .condition-write .write-top .div .in2 {
    margin-left: 12px;
}

.main .main-left .search-bottom .condition-write .write-top .div p {
    display: inline-block;
    width: 100px;
    height: 40px;
    margin-left: 21px;
    position: absolute;
    left: -140px;
}

.main .main-left .search-bottom .condition-write .write-top .div p a {
    width: 29px;
    height: 29px;
    display: inline-block;
    background: #398BFB;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    font-size: 30px;
    position: relative;
    top: 2px;
    text-decoration: none;
    cursor: pointer;
}

.main .main-left .search-bottom .condition-write .write-top .div p .a1 {
    margin-left: 32px;
    font-size: 36px;
    top: 4px;
}

.main .main-left .search-bottom .condition-write .write-top .div select {
    width: 100px;
    height: 40px;
    border: 1px solid #D8D8D8;
    text-indent: 13px;
    margin-left: 12px;
    color: #666666;
}

.main .main-left .search-bottom .condition-write .write-top .div .se3 {
    position: absolute;
    left: -140px;
}

.main .main-left .search-bottom .condition-write .write-bottom {
    margin-top: 53px;
}

.main .main-left .search-bottom .condition-write .write-bottom .write-div1 {
    position: relative;
}

.main .main-left .search-bottom .condition-write .write-bottom .write-div1 span {
    display: inline-block;
    width: 27px;
    height: 24px;
    background: url("../images/6.png") no-repeat;
    background-size: 100% 100%;
    margin-right: 5px;
}

.main .main-left .search-bottom .condition-write .write-bottom .write-div1 label {
    position: relative;
    font-size: 16px;
    bottom: 4px;
}

.main .main-left .search-bottom .condition-write .write-bottom .write-div2 {
    margin-top: 17px;
}

.main .main-left .search-bottom .condition-write .write-bottom .write-div2 select {
    width: 280px;
    height: 40px;
    border-radius: 2px;
    text-indent: 12px;
    border: 1px solid #D8D8D8;
    color: #666666;
    ;
}

.main .main-left .search-bottom .condition-write .write-bottom .write-div3 {
    margin-top: 17px;
    width: 280px;
    /* display: none; */
}

.main .main-left .search-bottom .condition-write .write-bottom .write-div3 button {
    width: 131px;
    height: 38px;
    border-radius: 6px;
    border: 1px solid #398BFB;
}

.main .main-left .search-bottom .condition-write .write-bottom .write-div3 #write-btn1 {
    background: #398BFB;
    color: white;
}

.main .main-left .search-bottom .condition-write .write-bottom .write-div3 #write-btn1:hover {
    background: white;
    color: #398BFB;
    transition: .3s;
}

.main .main-left .search-bottom .condition-write .write-bottom .write-div3 #write-btn2 {
    background: white;
    color: #398BFB;
    margin-left: 12px;
}

.main .main-left .search-bottom .condition-write .write-bottom .write-div3 #write-btn2:hover {
    background: #398BFB;
    color: white;
    transition: .3s;
}

.main .main-right {
    float: right;
    margin-top: 7px;
}

.main .main-right .right-search {
    width: 313px;
    height: 307px;
    background: url("../images/bg-right1.png") no-repeat;
    background-size: 100% 100%;
}

.main .main-right .right-save {
    margin-top: 24px;
    width: 313px;
    height: 290px;
    background: url("../images/bg-right2.png") no-repeat;
    background-size: 100% 100%;
}

.main .main-right div .div-font {
    padding: 39px 35px 51px 28px;
    text-align: center;
    position: relative;
}

.main .main-right .right-search .div-font span {
    display: inline-block;
    width: 23px;
    height: 20px;
    background: url("../images/8.png") no-repeat;
    background-size: 100% 100%;
}

.main .main-right div .div-font a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    bottom: 3px;
    margin-left: 3px;
    color: #398BFB;
}

.main .main-right div .div-content {
    padding: 0 35px 0 28px;
    line-height: 25px;
    color: #666666;
}

.main .main-right div .div-content div {
    text-align: center;
    margin-top: 33px;
}

.main .main-right div .div-content div button {
    width: 130px;
    height: 40px;
    color: #398BFB;
    border: 1px solid #398BFB;
    border-radius: 6px;
    background: white;
}

.main .main-right div .div-content div button:hover {
    background: #398BFB;
    color: white;
    transition: .3s;
}

.main .main-right .right-save .div-font span {
    display: inline-block;
    width: 20px;
    height: 23px;
    background: url("../images/7.png") no-repeat;
    background-size: 100% 100%;
}

.main .main-right .right-save .div-font a {
    bottom: 5px;
}

input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #666666;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #666666;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #666666;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #666666;
}

input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #666666;
}