.main .main-bottom .search-result {
    height: 44px;
    line-height: 44px;
    text-align: center;
    margin-top: 10px;
}

.main .main-bottom .search-result .result-left {
    text-align: left;
}

.main .main-bottom .search-result .result-left span {
    display: block;
    margin-top: -15px;
    font-size: 12px;
}

.main .main-bottom .search-result .result-left span a {
    text-decoration: none;
    color: #1061D1;
    cursor: default;
}

.main .main-bottom .search-result .result-center {
    display: inline-block;
}

.main .main-bottom .search-result .result-center a {
    text-decoration: none;
    margin: 0 14px 0 14px;
    margin-left: 15px;
}

.main .main-bottom .search-result .result-center a img {
    width: 18px;
    height: 18px;
    vertical-align: -3px;
    margin-right: 3px;
}

.main .main-bottom .search-result .result-center a label {
    font-size: 15px;
    color: #1670EB;
    cursor: pointer;
}

.main .main-bottom .search-result .result-center a .label-change {
    color: #666666;
}

.main .main-bottom .search-result .result-center a p {
    position: absolute;
    top: 140px;
    width: 140px;
    height: 136px;
    /* background: white; */
    /* display: none; */
    /* border: 1px solid #398BFB; */
    z-index: 10;
}

.main .main-bottom .search-result .result-center a .p-dis {
    display: block;
}

.main .main-bottom .search-result .result-center a select {
    height: 40px;
    border: none;
    outline: none;
    width: 100%;
    padding: 0 15px 0 15px;
}

.main .main-bottom table .th2,
.th16 {
    width: 5%;
}

.main .main-bottom table .th4,
.th8,
.th15 {
    width: 9%;
}

.main .main-bottom table .th1,
.th3,
.th10,
.th17,
.th11 {
    width: 4%;
}

.main .main-bottom table .th7,
.th9,
.th12 {
    width: 5%;
}

.main .main-bottom table .th13 {
    width: 9%;
}

.alert-box1 {
    position: absolute;
    top: 50px;
    left: 100px;
    width: 680px;
    /* height: 810px; */
    z-index: 100;
    background: #fff;
}

.alert-box1 .alert-body .div1 {
    font-size: 16px;
    font-weight: bold;
}

.alert-box1 .alert-body .div2 {
    width: 100%;
    /* height: 290px; */
    background: #F1F7FF;
}

.alert-box1 .alert-body .div2 .div-cloud {
    padding: 28px 20px 34px 40px;
}

.alert-box1 .alert-body .div2 .div-cloud span {
    width: 49.7%;
    display: inline-block;
}

.alert-box1 .alert-body .div2 .div-cloud .div-header #scrollbar {
    position: relative !important;
    margin-top: 19px;
    width: 300px;
    height: 195px;
    overflow-y: hidden !important;
}

.alert-box1 .alert-body .div2 .div-cloud .div-header #scrollbar ul {
    margin-top: -19px;
}

.alert-box1 .alert-body .div2 .div-cloud .div-header {
    float: left;
    width: 50%;
}

.alert-box1 .alert-body .div2 .div-cloud .div-header2 {
    overflow: auto;
    height: 300px;
    width: 300px;
    margin-left: 20px;
}

.alert-box1 .alert-body .div2 .div-cloud .div-header label {
    font-weight: bold;
}

.alert-box1 .alert-body .div2 .div-cloud .div-header ul li {
    margin-top: 16px;
}

.alert-box1 .alert-body .div2 .div-cloud .div-header ul li i {
    width: 11px;
    height: 11px;
    border: 1px solid #888888;
    vertical-align: -1px;
}

.alert-box1 .alert-body .div2 .div-cloud .div-header ul li span {
    color: #666666;
    margin-left: 9px;
}

.alert-box1 .alert-body .div2 .div-cloud .div-header ul li .span-change {
    color: #1670EB;
}

.alert-box1 .alert-body .div3 button {
    margin: 0 13px 0 13px;
}

.delete {
    width: 680px;
    height: 560px;
    border-radius: 4px;
    display: none;
}

.delete .delete-bottom {
    margin: 0 auto;
}

.delete .delete-bottom .bottom-cloud {
    width: 580px;
    margin: 0 auto;
    margin-top: 25px;
}

.delete .delete-bottom .bottom-cloud .font-bottom {
    font-size: 16px;
    font-weight: bold;
}

.delete .delete-bottom .bottom-cloud .select-bottom {
    background: #F1F7FF;
    margin-top: 17px;
}

.delete .delete-bottom .bottom-cloud .select-bottom ul {
    padding-top: 29px;
    margin-left: 41px;
}

.delete .delete-bottom .bottom-cloud .select-bottom ul #scollbar {
    position: relative !important;
    margin-top: 19px;
    width: 511px;
    height: 213px;
    overflow-y: hidden !important;
}

.delete .delete-bottom .bottom-cloud .select-bottom ul li {
    margin-top: 19px;
    color: #666666;
    font-size: 14px;
}

.delete .delete-bottom .bottom-cloud .select-bottom ul .li-1 {
    margin-top: 0;
    color: black;
}

.delete .delete-bottom .bottom-cloud .select-bottom ul .li-1-1 {
    font-weight: bold;
}

.delete .delete-bottom .bottom-cloud .select-bottom ul li i {
    width: 11px;
    height: 11px;
    border: 1px solid #888888;
    vertical-align: -1px;
}

.delete .delete-bottom .bottom-cloud .select-bottom ul li .span-change {
    color: #1670EB;
}

.delete .delete-bottom .bottom-cloud .select-bottom ul li span {
    margin-left: 9px;
}

.delete .delete-bottom .bottom-cloud .select-bottom ul .li-last {
    padding-bottom: 24px;
}

.delete .delete-bottom .bottom-cloud .select-bottom ul li .la-1 {
    color: #FD8900;
}

.delete .delete-bottom .bottom-cloud .select-bottom ul li .la-2 {
    color: #00A277;
}

.delete .delete-bottom .bottom-cloud .button-bottom {
    text-align: right;
    margin-top: 25px;
    margin-bottom: 25px;
}

.delete .delete-bottom .bottom-cloud .button-bottom button {
    width: 119px;
    height: 40px;
    vertical-align: center;
    text-align: center;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
}

.delete .delete-bottom .bottom-cloud .button-bottom .btn1 {
    border: 1px solid #398BFB;
    color: #398BFB;
    background: white;
}

.delete .delete-bottom .bottom-cloud .button-bottom .btn1:hover {
    background: #398BFB;
    color: white;
    transition: .3s;
}

.delete .delete-bottom .bottom-cloud .button-bottom .btn2 {
    margin-left: 25px;
    border: 1px solid #398BFB;
    color: white;
    background: #398BFB;
}

.delete .delete-bottom .bottom-cloud .button-bottom .btn2:hover {
    background: white;
    color: #398BFB;
    transition: .3s;
}

.alert-box2 {
    width: 680px;
    height: 540px;
    display: none;
}

.alert-box2 .div1 {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #CCCCCC;
}

.alert-box2 .div2 {
    margin: 30px 50px 30px 50px;
    text-align: left;
    width: 580px;
}

.alert-box2 .div2 .div2-1 label {
    font-size: 16px;
}

.alert-box2 .div2 .div2-1 p {
    display: inline-block;
    width: 478px;
    height: 38px;
    line-height: 38px;
    margin-left: 28px;
    border: 1px solid #D8D8D8;
    margin-top: 0;
    border-radius: 4px;
}

.alert-box2 .div2 .div2-1 p input {
    border: none;
    border-right: 1px solid #C3C8CE;
    height: 20px;
    width: 422px;
    text-indent: 11px;
    font-size: 14px;
    vertical-align: 2px;
}

.alert-box2 .div2 .div2-1 p img {
    width: 18px;
    height: 18px;
    margin-top: 0;
    margin-left: 13px;
}

.alert-box2 .div2 .div2-2 {
    background: #F1F7FF;
    width: 580px;
    height: 292px;
    margin-top: 32px;
}

.alert-box2 .div2 .div2-2 .div-change {
    padding: 30px 20px 34px 40px;
}

.alert-box2 .div2 .div2-2 .div-change .div-change1 p {
    font-size: 14px;
    margin-top: 0;
}

.alert-box2 .div2 .div2-2 .div-change .div-change1 #scollbar-fil1,
#scollbar-fil2 {
    position: relative;
    margin-top: 19px;
    height: 199px;
    border-radius: 8px;
}

.alert-box2 .div2 .div2-2 .div-change .div-change1 ul li {
    font-size: 14px;
    margin-top: 19px;
}

.alert-box2 .div2 .div2-2 .div-change .div-change1 ul .list-1 {
    margin-top: 0;
}

.alert-box2 .div2 .div2-2 .div-change .div-change1 ul li i {
    width: 11px;
    height: 11px;
    border: 1px solid #888888;
    vertical-align: -1px;
}

.alert-box2 .div2 .div2-2 .div-change .div-change1 ul li span,
label {
    font-size: 14px;
}

.alert-box2 .div2 .div2-2 .div-change .div-change1 ul .li-change {
    color: #398BFB;
}

.alert-box2 .div2 .div2-2 .div-change .div-change1 ul li .span-change {
    color: #398BFB;
}

.alert-box2 .div2 .div2-2 .div-change .div-change1 ul li .label-change {
    color: #398BFB;
}

.alert-box2 .div2 .div2-2 .div-change .div-change1 ul li span {
    margin-left: 8px;
}

.alert-box2 .div3 {
    text-align: center;
}

.alert-box2 .div3 button {
    padding: 12px 38px;
    margin-left: 13px;
    margin-right: 13px;
}

.alert-box4 {
    width: 420px;
    height: 244px;
    background: white;
    display: none;
    border-radius: 4px;
}

.alert-box4 .div1 {
    text-align: center;
    padding-top: 62px;
}

.alert-box4 .div1 div {
    font-size: 20px;
}

.alert-box4 .div1 p {
    color: #999999;
    margin-top: 15px;
}

.alert-box4 .div2 {
    text-align: center;
    margin-top: 30px;
}

.alert-box4 .div2 button {
    width: 120px;
    height: 40px;
    margin-left: 13px;
}


/* .con-grouping {
    position: relative !important;
    z-index: 66 !important;
    width: 680px;
    height: 516px;
} */

.con-grouping .alert-body .div1 {
    font-weight: normal;
}

.con-grouping .alert-body .div1 span {
    font-size: 16px;
    color: #999999;
}

.con-grouping .alert-body .div1 i {
    font-size: 16px;
    font-weight: bold;
}

.con-grouping .alert-body .div2 .div-cloud #scroll-con {
    position: relative;
}

.con-grouping .alert-body .div2 .div-cloud #scroll-con ul li {
    margin-bottom: 20px;
}

.con-grouping .alert-body .div2 .div-cloud #scroll-con ul li label {
    font-size: 16px;
    width: 37px;
}

.con-grouping .alert-body .div2 .div-cloud #scroll-con ul li input {
    width: 238px;
    height: 38px;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    text-indent: 10px;
}

.con-grouping .alert-body .div2 .div-cloud #scroll-con ul li span {
    width: 90px;
    height: 29px;
    margin-left: 23px;
    vertical-align: -25px;
}

.con-grouping .alert-body .div2 .div-cloud #scroll-con ul li span img {
    width: 29px;
    height: 29px;
}

.con-grouping .alert-body .div2 .div-cloud #scroll-con ul li span .con-img {
    margin-left: 23px;
}

.con-grouping .alert-body .div2 .div-cloud .con-ratio span {
    font-size: 16px;
}

.con-grouping .alert-body .div2 .div-cloud .con-ratio p {
    margin-top: 20px;
    text-indent: 47px;
}

.con-grouping .alert-body .div2 .div-cloud .con-ratio p input {
    width: 78px;
    height: 38px;
    border-radius: 4px;
    text-indent: 10px;
    border: 1px solid #D8D8D8;
}

.con-grouping .alert-body .div2 .div-cloud .con-ratio div {
    text-indent: 47px;
    margin-top: 20px;
}